<h2 id="about">
	Hey, I'm Baptiste PREVOT and I'm 19 years old. <br>
	This is me at Sligo : <br>
	<a>
		<img src="/images/photo.jpg" alt="Me" id="Non"></img>
	</a>
	<br>
	I love playing volleyball and tennis and if you click on the "Cool Video", you can see that I love paragliding too !
	<br>
	<a href="https://youtu.be/WIpwomLQ_WE">Cool Video</a> <br>
	This is one of my favourite music :<br>
	<iframe width="auto" height="50%" src="https://www.youtube.com/embed/YVkUvmDQ3HY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</h2>