<h3>Message sent !</h3>
<p><small>*Or not.</small></p>
<title>Redirection</title>
<meta http-equiv="refresh" content="7; url = http://localhost:3000" />
</head>

<body>
    <p>You should be automatically redirected in <span id="seconds">7</span> seconds because that's fun.
</p>